/* ==========================
	Write your solution here!
   ========================== */
   
   
.main {
    width: 600px;
    margin: 100px auto
}

.main h1 {
    width: 200px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid #333
}

.main p {
    margin-bottom: 50px
}  