/* ==========================
	Write your solution here!
   ========================== */
   
   
   
   .title {
       text-align: center;
       font-size: 60px;
       color: #d17d24;
   }
   
   .subtitle {
       font-size: 40px;
       color: #4985de;
   }
   
   
   .container {
       margin: 40px;
       font-size: 20px;
   }
   
   .container-main {
       margin: 100px;
       text-align: center;
   }